{% extends "base.html" %}

{% block title %}Sobre - Studio Fanciele Cesario{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h1>Sobre Nós</h1>
        <hr>
        <p>Bem-vindo ao Studio Fanciele Cesario, seu destino para beleza e cuidados pessoais!</p>
        
        <h3>Nossa Missão</h3>
        <p>Proporcionar serviços de qualidade superior em um ambiente acolhedor e profissional.</p>
        
        <h3>Nossos Serviços</h3>
        <ul>
            <li>Escova Progressiva (4 horas)</li>
            <li>Mechas (4 horas)</li>
            <li>Corte de Cabelo</li>
            <li>Coloração</li>
            <li>Tratamentos Capilares</li>
            <li>Cuidados com a Pele</li>
        </ul>
        
        <h3>Contato</h3>
        <p>
            Telefone: (11) 9999-9999<br>
            Email: contato@salaobeatuy.com.br<br>
            Endereço: Rua das Flores, 123 - São Paulo, SP
        </p>
    </div>
</div>
{% endblock %}
